<% include ../partials/header.ejs %>

<style>
.container {text-align: center;}
</style>

<!-- MAIN CONTENT -->
<div class="container">
<div class="row">
<div class="col-md-offset-3 col-md-6">
<h2>Welcome to <%= title %> Page</h2>
<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 

<img src="\Assets\images\logo.jpg" height="170" width="560">

</div>
</div>
</div>

<% include ../partials/footer.ejs %>


